
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Dark-blue: #000120;
    --Drak-purple: #1f0379;
    --Neon-pink: #f72de5;
    --Grayish-pink: #d5b6fc;
    font-size: 16px;
    
}

body{
    width: 100%;
    height: 100vh;
    background-color: var(--Dark-blue);
}