@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root {
    --Dark-blue: #000120;
    --Drak-purple: #1f0379;
    --Neon-pink: #f72de5;
    --Grayish-pink: #d5b6fc;
    font-size: 16px;
    font-family: 'Kanit', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100vh;
    background-color: lightcyan;   
}

.cont-header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.cont-header header{
    max-width: 68.75rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.9375rem 1.25rem;
}

.cont-header header .logo a{
    font-size: 2.25rem;
    color: var(--Neon-pink);
    text-decoration: none;
}

.cont-header header ul{
    display: flex;
    list-style: none;
}

.cont-header header nav ul li a{
    text-align: none;
    color: var(--Grayish-pink);
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

.cont-header header nav ul li a:hover{
    color: var(--Neon-pink);
}

.nav-responsive{
    background-color: #1CB698;
    color:#fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}




.inicio{
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
    url(/assets/inicio-background.jpg);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}