@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root {
    --Dark-blue: #000120;
    --Drak-purple: #9B00E8;
    /*--Neon-pink: #f72de5;*/
    /*--Neon-pink: #9B00E8;*/
    --Neon-pink: #9f2ada;

    --Grayish-pink: #dbc7f3;
    --Blue: #000129;
    font-size: 16px;
    font-family: 'Kanit', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100vh;
    background-color: lightcyan;   
}

.cont-header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: var(--Dark-blue);
    
}

.cont-header header{
    max-width: 68.75rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.9375rem 1.25rem;
}

.logo img{
    max-width: 130px;
    
}

.cont-header header ul{
    display: flex;
    list-style: none;
    
}

.cont-header header nav ul li a{
    text-align: none;
    color: var(--Neon-pink);
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
    
    
}

.cont-header header nav ul li a:hover{
    color: var(--Grayish-pink);
    
}

.nav-responsive{
    background-color: var(--Neon-pink);
    color: var(--Dark-blue);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}



.inicio{
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
    url(/assets/thumb-1920-1188016.jpg);
    background-size: cover ;
    color: var(--Grayish-pink);
    display: flex;
    align-items: center;
    padding-top: 5rem;
    background-position: center;
    justify-content: space-evenly;
    
    
    
    
}

.info-main{
    max-width: 1100px;
    display: flex;
    justify-content: center;
    max-width: 1100px;
    padding: 50px 20px;
}

.info{
    width: 50%;
    max-width: 400px;
}


.info h2{
    text-align: center;
}

.photo{
    width: 50%;
    display: grid;
    justify-items: center;
    align-items: center;

}

.photo img{
    max-width: 70%;



    
}

.contenedor-texto h1{
    text-align: center;
    font-size: 58px;
    color: var(--Grayish-pink);
    text-shadow:
    0 0 7px var(--Neon-pink),
    0 0 10px var(--Neon-pink),
    0 0 11px var(--Neon-pink),
    0 0 12px var(--Neon-pink),
    0 0 12px var(--Neon-pink),
    0 0 12px var(--Neon-pink),
    0 0 102px var(--Neon-pink),
    0 0 151px var(--Neon-pink);


}




.redes-icon{
    display: flex;
    padding-top: 16px;
    justify-content: center;
    gap: 16px;
    
}

.redes-icon a{
    color: var(--Grayish-pink);
    text-decoration: none;
    border: 1px solid var(--Neon-pink);
    border-radius: 100%;
    width: 32px;
    height: 32px;
    font-size: 16px; 
    text-align: center;
    line-height: 31px;
    transition: .3s;
    animation: shake-2 3s infinite;
}
  



.info button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid var(--Neon-pink);
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 4px 12px;
    font-size: 16px;
    color: var(--Grayish-pink);
    position: relative;
    z-index: 10;
    border-radius: 8px;
    font-family: 'Kanit', sans-serif;
    
}

.info button a{
    text-decoration: none;
    margin-right: 0.5rem;
    color: #dbc7f3;
}



.info button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--Neon-pink);
    z-index: -1;
    transition: 1s;
    font-family: 'Kanit', sans-serif;
    
}
.info button:hover .overlay{
    width: 100%;
}




.info .redes-icon:hover .overlay{
    width: 100%;
    background-color: #1CB698;
}











.sobremi{
    background-color: var(--Dark-blue) ;
    
    color: var(--Grayish-pink);
    padding: 50px 20px;
}

.sobremi a{
    color: #dbc7f3;
}

.sobremi .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.sobremi h2{
    font-size: 48px;
    text-align: center;
    padding: 20px 0;
    color: var(--Grayish-pink);
    text-shadow:
    0 0 7px var(--Neon-pink),
    0 0 10px var(--Neon-pink),
    0 0 11px var(--Neon-pink),
    0 0 12px var(--Neon-pink),
    0 0 12px var(--Neon-pink),
    0 0 12px var(--Neon-pink),
    0 0 102px var(--Neon-pink),
    0 0 151px var(--Neon-pink);
    

}



#h2-skills{
    color: var(--Grayish-pink) ; 
}


.sobremi .contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}



.sobremi .contenido-seccion p span{
    color: var(--Neon-pink);
    font-weight: bold;
}

.sobremi .fila{
    display: flex;
}
.sobremi .fila .col
{
    width: 50%;
}

.sobremi .fila .col h3{
    font-size: 28px;
    margin-bottom: 25px;
    text-align: center;
}

.intereses{
    
    color: var(--Neon-pink)  ;
}

.sobremi .fila .col ul{
    list-style: none;
}
.sobremi .fila .col ul li{
    margin: 12px 0;
}

.sobremi .fila .col ul li strong{
    display: inline-block;
    color:var(--Neon-pink);
    width: 130px;
}

.sobremi .fila .col ul li span{
    background-color: var(--Drak-purple);
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}
.sobremi .fila .col .contenedor-intereses{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.sobremi .fila .col .contenedor-intereses .interes{
    width: 100px;
    height: 100px;
    
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}.sobremi .fila .col .contenedor-intereses .interes:hover{
    background-color: var(--Neon-pink);
}
.sobremi .fila .col .contenedor-intereses .interes i{
    font-size: 30px;
    margin-bottom: 10px;
}
.sobremi button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid var(--Neon-pink);
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 4px 12px;
    font-size: 16px;
    color: var(--Grayish-pink);
    position: relative;
    z-index: 10;
    border-radius: 8px;
    font-family: 'Kanit', sans-serif;
    animation: shake 2s infinite;
}

.sobremi button a{
    text-decoration: none;
    margin-right: 0.5rem;
}

@keyframes shake{
    10% {transform: scale(1.05) rotate(5deg);}
    20% {transform: scale(1.05) rotate(-5deg);}
    30% {transform: scale(1.05) rotate(5deg);}
    40% {transform: none;}
}

@keyframes shake-2{
    0% { box-shadow: 0 0 -10px #c4a300; }
  40% { box-shadow: 0 0 20px #c4a300; }
  60% { box-shadow: 0 0 20px #c4a300; }
  100% { box-shadow: 0 0 -10px #c4a300; }

}

@keyframes shake-3{
    0% { box-shadow: 0 0 -7px #c4a300; }
  40% { box-shadow: 0 0 12px #c4a300; }
  60% { box-shadow: 0 0 12px #c4a300; }
  100% { box-shadow: 0 0 -7px #c4a300; }

}


.sobremi button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--Neon-pink);
    z-index: -1;
    transition: 1s;
    font-family: 'Kanit', sans-serif;
    
}
.sobremi button:hover .overlay{
    width: 100%;
}





/*Portafolio*/

.portafolio{
    background-color: #1c0925;
    padding-left: 1rem;
    padding-right: 1rem;
    padding: 50px 20px;
    
    margin: auto;
    
    
}






.portafolio-contenedor{
    display: grid;
    gap: 1rem;
    grid-auto-rows: 33rem;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
    justify-items: center;
    
}


.portafolio h2{
    color: var(--Grayish-pink);
    font-size: 48px;
    text-align: center;
    padding: 20px 0;
    letter-spacing: 4px;
    text-shadow:
    0 0 7px var(--Neon-pink),
    0 0 10px var(--Neon-pink),
    0 0 11px var(--Neon-pink),
    0 0 12px var(--Neon-pink),
    0 0 12px var(--Neon-pink),
    0 0 12px var(--Neon-pink),
    0 0 102px var(--Neon-pink),
    0 0 151px var(--Neon-pink);
}



.portafolio-img-cont{
    /*border: 1px solid chartreuse;*/
    width: 90%;
    border-radius: 0.75rem;
    margin-top: 1rem;
}



.portafolio-contenedor li a{
    color: var(--Neon-pink);
}


.cont-tools{
    display: flex;
    gap: 8px;
    align-items: flex-end; 
    height: 100%;
    padding-bottom: 16px;
}

.tool{
    border-radius: 12px;
    padding: 4px;
    width: 40px;
    font-size: 12px;
}

#figma{
    background-color: aliceblue;
    color: #000120;
}

#html{
    background-color: red;
    color: aliceblue;
}

#css{
    background-color: blue;
    color: aliceblue;
}

#js{
    background-color: yellow;
    color: #000120;
}



.qr-code{
    max-width: 20rem;
    background-color:  var(--Blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 1rem;
    filter: drop-shadow(0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.)); 
    animation: shake-3 2s infinite;
    border: 1px solid var(--Grayish-pink);
    

  }

  .qr-code img{
    object-fit: cover;
    max-width: 200px;
    max-height: 104px;
    border-radius: 0.75rem;
    
  }

  .p-1{
    font-size: 1.25rem;
    color: var(--Neon-pink);
    margin-bottom: 0.625rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 700;

  }

  .p-2{
    font-size: 0.85rem;
    color: var(--Grayish-pink);
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: justify;
  }













/*Skills*/

.skills{
    background-color: #1c0925 ;
    
    color: var(--Grayish-pink);
    padding: 50px 20px;
}
.skills .contenido-seccion{
    max-width: 1100px;
    margin: auto;
    
}

.skills h2{
    font-size: 48px;
    text-align: center;
    padding: 20px 0;
    letter-spacing: 4px;
    text-shadow:
    0 0 7px var(--Neon-pink),
    0 0 10px var(--Neon-pink),
    0 0 11px var(--Neon-pink),
    0 0 12px var(--Neon-pink),
    0 0 12px var(--Neon-pink),
    0 0 12px var(--Neon-pink),
    0 0 102px var(--Neon-pink),
    0 0 151px var(--Neon-pink);

}
.skills .contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}

.skills h2, h3{
    color: var(--Neon-pink);

}

.skills .contenido-seccion p span{
    color: var(--Neon-pink);
    font-weight: bold;
}

.skills .fila{
    display: flex;
}
.skills .fila .col
{
    width: 50%;
    border: 1px solid var(--Neon-pink);
    
    
}

.skills .fila .col h3{
    font-size: 24px;
    margin-bottom: 25px;
    text-align: center;
    margin-top: 8px;
}

.intereses{
    
    color: var(--Neon-pink)  ;
}

.skills .fila .col ul{
    list-style: none;
}
.skills .fila .col ul li{
    margin: 12px 0;
}

.skills .fila .col ul li strong{
    display: inline-block;
    color:var(--Neon-pink);
    width: 130px;
}

.skills .fila .col ul li span{
    background-color: var(--Drak-purple);
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}
.skills .fila .col .contenedor-skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.skills .fila .col .contenedor-skills .interes{
    width: 100px;
    height: 100px;
    
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}.skills .fila .col .contenedor-skills .interes:hover{
    background-color:var(--Blue);
}
.skills .fila .col .contenedor-skills .interes i{
    font-size: 30px;
    margin-bottom: 10px;
}



.curriculum{
    background-color: var(--Dark-blue);
    color: var(--Grayish-pink);
    padding: 50px 20px;
}
.curriculum .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.curriculum h2{
    font-size: 48px;
    text-align: center;
    padding: 20px 0;
    text-shadow:
    0 0 7px var(--Neon-pink),
    0 0 10px var(--Neon-pink),
    0 0 11px var(--Neon-pink),
    0 0 12px var(--Neon-pink),
    0 0 12px var(--Neon-pink),
    0 0 12px var(--Neon-pink),
    0 0 102px var(--Neon-pink),
    0 0 151px var(--Neon-pink);

}
.curriculum .fila{
    display: flex;
    justify-content: space-between;
}
.curriculum .fila .col{
    width: 49%;
    padding: 0 20px;
}
.curriculum .fila .col h3{
    font-size: 28px;
    margin-bottom: 25px;
    text-align: center;
}
.curriculum .fila .izquierda{
    border-right: 2px solid #252A2E;
}
.curriculum .fila .derecha{
    border-left: 2px solid #252A2E;
}
.curriculum .fila .item{
    padding: 25px;
    margin-bottom: 30px;
    background-color: #252A2E;
    position: relative;
}
.curriculum .fila .item h4{
    font-size: 20px;
    margin-bottom: 10px;
}
.curriculum .fila .item .casa{
    color: var(--Neon-pink);
    font-size: 22px;
    font-weight: bold;
    display: block;
}
.curriculum .fila .item .fecha{
    display: block;
    color: var(--Neon-pink);
    margin-bottom: 10px;
}
.curriculum .fila .item p{
    line-height: 24px;
}
.curriculum .fila .izq{
    border-right: 2px solid var(--Neon-pink);
    margin-right: 20px;
}
.curriculum .fila .der{
    border-left: 2px solid var(--Neon-pink);
    margin-left: 20px;
}
.curriculum .fila .item .conectori{
    height: 2px;
    background-color: var(--Neon-pink);
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}
.curriculum .fila .item .conectori .circuloi{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: var(--Neon-pink);
    float: right;
    position: relative;
    bottom: 4px;
}
.curriculum .fila .item .conectord{
    height: 2px;
    background-color: var(--Neon-pink);
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}
.curriculum .fila .item .conectord .circulod{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: var(--Neon-pink);
    float: left;
    position: relative;
    bottom: 4px;
}

.curriculum ul{
    padding-left: 1.375rem;
    }





.contacto{
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
    url(/assets/abstract-gaca9b1d0f_1280.jpg);
    background-color: var(--Dark-blue);
    color: var(--Drak-purple);
    padding: 50px 0;
    background-size: cover;
    background-position: center;
    
}
.contacto .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.contacto h2{
    font-size: 48px;
    text-align: center;
    padding: 20px 0;
    font-family: 'Kanit', sans-serif;
    color: var(--Grayish-pink);
    text-shadow:
    0 0 7px var(--Neon-pink),
    0 0 10px var(--Neon-pink),
    0 0 11px var(--Neon-pink),
    0 0 12px var(--Neon-pink),
    0 0 12px var(--Neon-pink),
    0 0 12px var(--Neon-pink),
    0 0 102px var(--Neon-pink),
    0 0 151px var(--Neon-pink);
}
.contacto .fila{
    display: flex;
    justify-content: center;
}
.contacto .col{
    width: 80%;
    padding: 10px;
    position: relative;
    
    
}

.contacto .col input{
    font-family: 'Kanit', sans-serif;
    border-radius: 8px;
    border: 1px solid var(--Grayish-pink);
}


#p-style{
    font-family: 'Kanit', sans-serif;
}


::placeholder {color: #b7afc0;}


.contacto .col input, .contacto .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: 1px solid var(--Grayish-pink);
    margin-bottom: 20px;
    background-color: var(--Dark-blue);
    color: #fff;
    font-size: 18px;
    border-radius: 8px;
    font-family: 'Kanit', sans-serif;
}



.contacto button{
    cursor: pointer;
    background-color: var(--Dark-blue);
    border: 2px solid var(--Neon-pink);
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 4px 16px;
    font-size: 20px;
    color: var(--Grayish-pink);
    position: relative;
    z-index: 10;
    border-radius: 16px;
    font-family: 'Kanit', sans-serif;
    animation: shake 2s infinite;
    
}
.contacto button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--Neon-pink);
    z-index: -1;
    transition: 1s;
    border-radius: 16px;
}
.contacto button:hover .overlay{
    width: 100%;
    
}
.contacto .col img{
    width: 100%;
}
.contacto .col .info{
    position: absolute;
    top: 40%;
    background-color: #252A2E;
    padding: 20px;
    max-width: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contacto .col .info ul{
    list-style: none;
}
.contacto .col .info ul li{
    margin-bottom: 20px;
}
.contacto .col .info ul li i{
    color: #1CB698;
    display: inline-block;
    margin-right: 20px;
}

.cont-titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    
}








footer{
    background-color: var(--Dark-blue);
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}
footer .redes{
    margin-bottom: 20px;
}
footer .redes a{
    color: var(--Grayish-pink);
    display: inline-block;
    text-decoration: none;
    border: 1px solid var(--Neon-pink);
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
    animation: shake-2 3s infinite;
}
footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: var(--Neon-pink);
    color: var(--Grayish-pink);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
    animation: shake-2 2s infinite;
}





@media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: var(--Dark-blue);
        width: 180px;

    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid var(--Grayish-pink);
        padding: 10px 0;
        border-radius: 8px;
        text-align: center;
        
    }

    .curriculum .fila {
        font-size: 12px;
    }

    .curriculum .fila .item h4 {
        font-size: 14px;
        padding-right: 8px;
    }

        .curriculum .fila .item .casa {
            color: var(--Neon-pink);
            font-size: 14px;
 
        }

        .curriculum .fila .item {
            padding: 10px;
        }

        .photo img {
            max-width: 90%;
        }

        .contenedor-texto h1 {
            font-size: 44px;
        }
        
        
        
}


















@media screen and (max-width:480px){

    
    .sobremi .fila .col .contenedor-intereses .interes{
           width: 60px;
           height: 60px;
        }

    .contenedor-intereses, .span{
        font-size: 8px;
        
    }

    .curriculum .fila{
        flex-direction: column;
    }

    .curriculum .fila .col{
        width: 100%;
    }

    .skills .fila .col h3 {
        font-size: 18px;
        padding-left: 4px;
        padding-right: 4px;
        
        
    }

    .info-main {
        flex-direction: column-reverse;
        align-items: center;
         }

    .photo img {
        max-width: 150%;
    }

    .contenedor-texto h1 {
        font-size: 44px;
    }

    .info {
        width: 100%;
        max-width: 577px;
    
    }
}

